.chat-accordion-item{
    margin-bottom: .5rem;
}

.status-li{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.status-li > div,
.sr-user-status-wrap .sr-user-status,
.chat-data .user-status,
.sr-status{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
}

#sr-avatar-widget{
    position: relative;
}

.sr-user-status-wrap{
    position: absolute;
    left: -.25rem;
    top: -.25rem;
    z-index: 2;

    .sr-user-status{
        width: .75rem;
        height: .75rem;
    }
}

.status-avail           { background-color: #4ADE80; }
.status-talk_to_me      { background-color: #22C55E; border-bottom-right-radius: 5% !important; }
.status-busy            { background-color: #38BDF8; }
.status-dnd             { background-color: #DC2626; }
.status-invisible       { background-color: #9CA3AF; }
.status-not_avail       { background-color: #F87171; }

#sr-webgg{
    background-color: $color-gray-100;
    flex-shrink: 0;

    .sr-contact-list{
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid $color-gray-300;

        &::before{
            content: 'Ostatnie kontakty';
            font-size: .875rem;
            color: $color-gray-400;
            padding-bottom: .5rem;
            display: block;
        }

        .sr-contact{
            padding: .5rem;
            border-radius: .5rem;
            background-color: $color-gray-200;
            display: flex;
            align-items: center;
            gap: .5rem;
            transition: $transition;
            cursor: pointer;

            &:not(:first-child){
                margin-top: .5rem;
            }

            &:hover{
                background-color: $color-gray-300;
            }

            .sr-user-avatar{
                width: 2rem;
                height: 2rem;
                border-radius: $rounded;
            }
        }
    }
}

#sr-main-center .main-container{
    #main-wosp-banner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .share-links-widget,
    .sr-chat-manager-empty{
        display: none;
    }
}

.chat-accordion-item{
    border: 1px solid $color-gray-300;
    border-radius: $rounded;
    transition: $transition;
    cursor: pointer;
    position: relative;
    max-width: 700px;
    margin: 0 auto calc($default-padding / 2);

    &:hover,
    &.expanded{
        background-color: $color-gray-100;
    }

    &.collapsed .opened-item{
        display: none;
    }

    .closed-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;
        padding: calc($default-padding / 2) $default-padding;
    }

    .chat-data{
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .chat-btns{
        position: absolute;
        right: .5rem;
        top: .5rem;
        display: flex;
        align-items: center;
        gap: .5rem;

        .chat-counter{
            display: none;
        }

        a{
            width: 1.25rem;
            height: 1.25rem;
            border-radius: $rounded;
            transition: $transition;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                background-color: $color-gray-300;
            }
        }
    }

    &.expanded .opened-item{
        padding: $default-padding $default-padding calc($default-padding / 2);
        border-top: 1px solid $color-gray-300;

        .header{
            .sr-user-avatar, .title, .chat-actions{
                display: none;
            }
        }

        .conversation-aol{
            display: flex;
            flex-direction: column;
            gap: .25rem;
            align-items: center;

            .chat-aol-previous,
            .chat-aol-archive{
                padding: .5rem .75rem;
                border-radius: $rounded;
                transition: $transition;
                cursor: pointer;
                background-color: $color-gray-200;

                &:hover{
                    background-color: $color-gray-300;
                }
            }

            .chat-aol-previous,
            .chat-aol-archive,
            .chat-aol-previous-spinner,
            .chat-aol-previous-empty{
                color: $color-gray-600;
                font-size: .875rem;
                text-decoration: none;
            }

            .d-none{
                display: none;
            }
        }

        .footer{
            display: flex;
            flex-direction: column-reverse;
            gap: calc($default-padding / 2);

            .chat-toolbar{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: .5rem;
            }
        }

        .chat-area{
            #chat-text{
                border: 1px solid $color-gray-300;
                border-radius: calc($rounded / 2);
                padding: $rounded;
                outline: none;
                height: 60px;
                font-size: .875rem;

                &:focus-visible{
                    outline: none;
                    background-color: white;
                }
            }
        }

        .chat-submit-buttons{
            display: none;
        }

        .item-conversation{
            .ml__item{
                padding: .5rem 0;

                &--outgoing{
                    border-left: 2px solid $color-accent-400;
                    padding-left: .5rem;
                    
                }

                &.ml__item--continued{
                    padding-top: 0;
                }
            }
        }
    }
}