body #sr-footer{
    background-color: $color-gray-800;
    color: white;
    
    & > i.icon{
        display: none;
    }

    & > .content{
        ul, ul.first{
            @include wrapper;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
            padding-top: 1rem;
            padding-bottom: .5rem;
            list-style: none;
            width: calc(100% - 8vw);
            font-size: .75rem;
        }
    }
}