body #sr-footer{
    position: fixed;
    bottom: 0;
    left: 0;
}

#sr-footer,
#footer{
    background-color: $color-gray-700;
    color: $color-gray-300;
    width: 100%;
    
    & > i.icon{
        display: none;
    }

    & > .content{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: $footer-height;
        padding: calc($default-padding / 2) $default-padding;

        ul, ul.first{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: $default-padding;
            flex-wrap: wrap;
            list-style: none;
            font-size: .675rem;
        }
    }
}