$color-gray-100: #F9FAFB;
$color-gray-200: #F3F4F6;
$color-gray-300: #cbd0dc;
$color-gray-400: #6B7280;
$color-gray-600: #4B5563;
$color-gray-700: #374151;
$color-gray-800: #1F2937;
$color-gray-900: #111827;

$footer-height: 1.5rem;
$header-width: 200px;
$default-padding: 1rem;
$rounded: .5rem;
$transition: all 200ms ease-in-out;
$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;